@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ScriptController/HomeJs.js"></script>

<div class="row" ng-controller="HomeJs">
    <h2>{{message}}</h2>
   
</div>
