@{
    ViewBag.Title = "Duyệt kết quả xử lý hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ScriptController/DuyetKetQuaJs.js"></script>

<div class="row" ng-controller="DuyetKetQuaJs">
    <h2 class="text-center">Duyệt kết quả xử lý hồ sơ</h2>
    <div class="col-md-12 mb-3">
        <form class="d-flex justify-content-end gap-2">
            <input class="form-control" type="search" placeholder="Nhập tiêu đề hồ sơ" ng-model="searchName" />
            <input class="form-control" type="search" placeholder="Tên công dân" ng-model="searchTenCongDan" />
            <input class="form-control" type="search" placeholder="CMND/CCCD" ng-model="searchCMND_CCCD" />
            <button class="btn btn-outline-success" type="button" ng-click="search()">Tìm kiếm</button>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã hồ sơ</th>
                <th>Tiêu đề</th>
                <th>Ngày tiếp nhận</th>
                <th>Người nộp</th>
                <th>Số điện thoại</th>
                <th>CMND/CCCD</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in listData">
                <td>{{$index + 1 + (page - 1) * pageSize}}</td>
                <td>{{item.MaHoSo}}</td>
                <td>
                    <a href="#" ng-click="showDetailModal(item)">{{item.TieuDe}}</a>
                </td>
                <td>{{item.NgayTiepNhan | date:'dd/MM/yyyy'}}</td>
                <td>{{item.TenCongDan}}</td>
                <td>{{item.SoDienThoai}}</td>
                <td>{{item.CMND_CCCD}}</td>
                <td>
                    <span ng-if="item.IdTrangThai == 3" class="badge bg-warning">Chờ phê duyệt</span>
                    <span ng-if="item.IdTrangThai == 4" class="badge bg-success">Chờ trả kết quả</span>
                    <span ng-if="item.IdTrangThai == 5" class="badge bg-primary">Đã trả kết quả</span>
                </td>
                <td>
                    <button class="btn btn-success btn-sm" ng-if="item.IdTrangThai == 3" ng-click="showDuyetModal(item)">Duyệt kết quả</button>
                    <button class="btn btn-danger btn-sm" type="button" ng-click="showXuLyLaiHoSoModal(item)">Xử lý lại</button>
                    @*<button class="btn btn-warning btn-sm" ng-click="xuLyLaiHoSo(item)">Xử lý lại</button>*@
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item" ng-class="{disabled: page === 1}">
                <a class="page-link" href="#" ng-click="goToPage(page - 1)">&laquo;</a>
            </li>
            <li class="page-item" ng-repeat="i in [].constructor(totalPages) track by $index" ng-class="{active: page === ($index + 1)}">
                <a class="page-link" href="#" ng-click="goToPage($index + 1)">{{$index + 1}}</a>
            </li>
            <li class="page-item" ng-class="{disabled: page === totalPages}">
                <a class="page-link" href="#" ng-click="goToPage(page + 1)">&raquo;</a>
            </li>
        </ul>
    </nav>

    <!-- Modal xác nhận xử lý lại -->
    <div class="modal fade" id="xuLyLaiModal" tabindex="-1" aria-labelledby="xuLyLaiModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="xuLyLaiForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="xuLyLaiModalLabel">Xác nhận xử lý lại hồ sơ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label class="form-label">Ghi chú xử lý lại</label>
                            <textarea class="form-control" ng-model="xuLyLaiGhiChu" rows="3" placeholder="Nhập ghi chú xử lý lại"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button" ng-click="xacNhanXuLyLaiHoSo()">Xác nhận</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal duyệt kết quả -->
    <div class="modal fade" id="duyetModal" tabindex="-1" aria-labelledby="duyetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="duyetForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="duyetModalLabel">Duyệt kết quả xử lý hồ sơ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label class="form-label">Tiêu đề hồ sơ</label>
                            <input class="form-control" type="text" ng-model="editingHoSo.TieuDe" readonly />
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Ghi chú duyệt</label>
                            <textarea class="form-control" ng-model="editingHoSo.GhiChuDuyet"></textarea>
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Đính kèm file duyệt</label>
                            <input type="file" class="form-control" id="fileDuyet" multiple onchange="angular.element(this).scope().onFileDuyetChange(this.files)" />
                            <div class="mt-2" ng-if="selectedFilesDuyet.length">
                                <strong>Đã chọn: {{selectedFilesDuyet.length}} file</strong>
                            </div>
                            <ul class="mt-2" ng-if="selectedFilesDuyet.length">
                                <li ng-repeat="f in selectedFilesDuyet track by $index">
                                    <i ng-class="getFileIcon(f.name)" class="me-2"></i>
                                    {{f.name}}
                                    <button type="button" class="btn btn-sm btn-danger ms-2" ng-click="removeFileDuyet($index)">
                                        Xóa
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="duyetKetQuaHoSo()">Xác nhận duyệt</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal chi tiết hồ sơ -->
    <div class="modal fade" id="hoSoDetailModal" tabindex="-1" aria-labelledby="hoSoDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hoSoDetailModalLabel">Chi tiết hồ sơ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Thông tin hồ sơ</h6>
                    <table class="table table-bordered">
                        <tr><th>Lĩnh vực</th><td>{{detailHoSo.TenLinhVuc}}</td></tr>
                        <tr><th>Loại hồ sơ</th><td>{{detailHoSo.TenLoaiHoSo}}</td></tr>
                        <tr><th>Mã hồ sơ</th><td>{{detailHoSo.MaHoSo}}</td></tr>
                        <tr><th>Tiêu đề</th><td>{{detailHoSo.TieuDe}}</td></tr>
                        <tr><th>Người nộp</th><td>{{detailHoSo.TenCongDan}}</td></tr>
                        <tr><th>Số điện thoại</th><td>{{detailHoSo.SoDienThoai}}</td></tr>
                        <tr><th>CMND/CCCD</th><td>{{detailHoSo.CMND_CCCD}}</td></tr>
                        <tr><th>Email</th><td>{{detailHoSo.Email}}</td></tr>
                        <tr><th>Địa chỉ</th><td>{{detailHoSo.DiaChi}}</td></tr>
                        <tr><th>Ngày tiếp nhận</th><td>{{detailHoSo.NgayTiepNhan | date:'dd/MM/yyyy'}}</td></tr>
                        <tr><th>Hạn xử lý</th><td>{{detailHoSo.HanXuLy | date:'dd/MM/yyyy'}}</td></tr>
                        <tr><th>Mô tả</th><td>{{detailHoSo.MoTa}}</td></tr>
                        <tr><th>Ghi chú</th><td>{{detailHoSo.GhiChu}}</td></tr>
                    </table>

                    <h6 class="mt-3">Quá trình xử lý hồ sơ</h6>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Bước</th>
                                <th>Ghi chú</th>
                                <th>File đính kèm</th>
                                <th>Thời gian</th>
                                <th>Người thực hiện</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="qt in detailQuaTrinh">
                                <td>{{$index + 1}}</td>
                                <td>{{qt.Buoc}}</td>
                                <td>{{qt.GhiChu}}</td>
                                <td>
                                    <span ng-if="qt.Files.length">
                                        <span ng-repeat="file in qt.Files">
                                            <a ng-href="{{file}}" target="_blank">
                                                <i ng-class="getFileIcon(file)" class="me-2"></i>
                                                {{getFileName(file)}}
                                            </a>
                                            <br ng-if="!$last" />
                                        </span>
                                    </span>
                                    <span ng-if="!qt.Files.length">Không có</span>
                                </td>
                                <td>{{qt.NgayThucHien | date:'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{qt.TenNguoiThucHien}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>
